<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论文词频分析</title>
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">词频分析系统</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    会员用户
                </a>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">主页</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" style="padding: 10px">

        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
            <div class="layui-upload-list">
                <table class="layui-table  layui-form" id="file-table">
                    <thead>
                    <tr>
                        <th style="text-align: center;" class="layui-hide demo-check"><input type="checkbox" lay-skin="primary" lay-filter="allChoose"/></th>
                        <th>文件名</th>
                        <th>大小</th>
                        <th>状态</th>
                        <th>序号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="demoList"></tbody>
                </table>
            </div>
            <button type="button" class="layui-btn" id="testListAction">开始上传</button>
            <button type="button" class="layui-btn layui-hide demo-check layui-btn-warm" id="doMore" >批量分析</button>
        </div>


<!--        <div style="margin-top: 20px">-->
<!--            <button type="button" class="layui-btn layui-hide demo-check" id="doMore" >批量分析</button>-->
<!--        </div>-->

        <div class="layui-card" style="margin-top: 20px; background-color: #F2F2F2;">
            <div class="layui-card-header">分析结果</div>
            <div class="layui-card-body">
                <table class="layui-table" id="word-info">
                    <thead>
                    <tr>
                        <th>关键词</th>
                        <th>词频</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="word-list"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="layui-footer">
    @yc.top
</div>
</div>

<script src="/layui/layui.js" charset="utf-8"></script>
<script>
    layui.use(['jquery', 'upload','form'], function () {
        var $ = layui.jquery
            , upload = layui.upload, form = layui.form;;
        var filesList = [];
        var files;
        var arr=[];
        var demoListView = $('#demoList')
            , uploadListIns = upload.render({
            elem: '#testList'
            , url: 'https://ycdev.top/word/file/upload' //改成您自己的上传接口
            , accept: 'file'
            , multiple: true
            , auto: false
            , bindAction: '#testListAction'
            , choose: function (obj) {
                console.log(obj)
                files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function (index, file, result) {
                    // delete files[index];
                    console.log(index, file, result,files)
                    var tr = $(['<tr id="upload-' + index + '">','<td style="text-align: center;" class="layui-hide demo-check"><input type="checkbox" lay-skin="primary" table-index="'+index+'" lay-filter="itemChoose"/></td>'
                        , '<td>' + file.name + '</td>'
                        , '<td>' + (file.size / 1024).toFixed(1) + 'kb</td>'
                        , '<td>等待上传</td>'
                        , '<td>等待获取</td>'
                        , '<td>'
                        , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        , '<button class="layui-btn layui-btn-xs demo-read layui-hide" data-id="'+index+'">分析</button>'
                        , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        , '</td>'
                        , '</tr>'].join(''));

                    form.render();
                    form.render('checkbox');

                    //单个重传
                    tr.find('.demo-reload').on('click', function () {
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function () {
                        console.log(index,files)
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    tr.find('.demo-read').on('click', function () {
                        var fileName ;
                        for(var i = 0;i<filesList.length;i++){
                            if(filesList[i].fileIndex == index){
                                fileName = filesList[i].fileName;
                                break;
                            }
                        }
                        $.ajax({
                            url: "https://ycdev.yop/word/analysis/frequencyOne?fileName=" + fileName,
                            type: "get",
                            success: function (res) {
                                console.log(res)
                                var wordInfo = res.result;
                                var wordList = $('#word-list');
                                wordList.html('');
                                for (var i = 0; i < wordInfo.length; i++) {
                                    wordList.append('<tr><td>' + wordInfo[i].keyWord + '</td>'
                                                    + '<td>'+ wordInfo[i].frequency+ '</td>' + '<td></td></tr>')
                                }
                            }
                        });
                    });

                    $("#doMore").on('click',function () {
                        var fileNames = [];
                        console.log(arr)
                        console.log(filesList)
                        if(arr.length == 0){
                            return;
                        }
                        for(var i =0;i<arr.length;i++){
                            for(var j=0;j<filesList.length;j++){
                                if(filesList[j].fileIndex == arr[i]){
                                    fileNames.push(filesList[i].fileName)
                                    break
                                }
                            }
                        }
                        $.ajax({
                            url: "https://ycdev.top/word/analysis/frequencyMore",
                            type: "post",
                            traditional: true,
                            data: {
                                "fileNames":fileNames
                            },
                            success: function (res) {
                                console.log(res)
                                var wordInfo = res.result;
                                var wordList = $('#word-list');
                                wordList.html('');
                                for (var i = 0; i < wordInfo.length; i++) {
                                    wordList.append('<tr><td>' + wordInfo[i].keyWord + '</td>'
                                        + '<td>'+ wordInfo[i].frequency+ '</td>' + '<td></td></tr>')
                                }
                            }
                        });
                    });

                    //全选
                    form.on('checkbox(allChoose)', function (data) {
                        var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');
                        child.each(function (index, item) {
                            item.checked = data.elem.checked;
                        });
                        form.render('checkbox');

                        var sib1 = $(data.elem).parents('table').find('tbody input[type="checkbox"]:checked').length;
                        var total1 = $(data.elem).parents('table').find('tbody input[type="checkbox"]').length;
                        arr=[]
                        var child1 = $(data.elem).parents('table').find('tbody input[type="checkbox"]:checked');
                        child1.each(function (index, item) {
                            arr.push($(item).attr('table-index'))
                        });
                        console.log(arr)
                        files = obj.pushFile();
                        for(k in files){
                            if(arr.indexOf(k)==-1){
                                delete files[k]
                            }
                        }
                    });

                    //全选和部分选中时候,表头全选按钮的样式变化
                    form.on('checkbox(itemChoose)', function (data) {
                        var sib = $(data.elem).parents('table').find('tbody input[type="checkbox"]:checked').length;
                        var total = $(data.elem).parents('table').find('tbody input[type="checkbox"]').length;
                        arr=[]
                        var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:checked');
                        child.each(function (index, item) {
                            arr.push($(item).attr('table-index'))
                        });
                       console.log(arr)
                        files = obj.pushFile();
                        for(k in files){
                            if(arr.indexOf(k)==-1){
                                delete files[k]
                            }
                        }

                        if (sib == total) {
                            $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked", true);
                            form.render();
                        } else {
                            $(data.elem).parents('table').find('thead input[type="checkbox"]').prop("checked",
                                false);
                            form.render();
                        }
                    });

                    demoListView.append(tr);

                    form.render();
                    form.render('checkbox');
                });
            }
            , done: function (res, index, upload) {
                console.log(res)
                if (res.code == 200) { //上传成功
                    var tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    files[index].fileName = res.result.fileName;
                    files[index].fileIndex = index;
                    $(".demo-check").removeClass("layui-hide")
                    tds.eq(3).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(4).html('<span style="color: #5FB878;">' + res.result.fileName + '</span>');
                    tds.eq(5).find(".demo-delete").addClass('layui-hide'); //清空操作
                    tds.eq(5).find(".demo-read").removeClass('layui-hide')
                    filesList.push(files[index]);
                    console.log(filesList)
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            , error: function (index, upload) {
                var tr = demoListView.find('tr#upload-' + index)
                    , tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(4).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });
    })
</script>

</body>
</html>